@font-face {
  font-family: "aileronlight";
  src: url("font/Aileron-Light-webfont.eot");
  src: url("font/Aileron-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("font/Aileron-Light-webfont.woff2") format("woff2"),
    url("font/Aileron-Light-webfont.woff") format("woff"),
    url("font/Aileron-Light-webfont.ttf") format("truetype"),
    url("font/Aileron-Light-webfont.svg#aileronlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

p {
  color: blue;
}

body {
  display: flex;
  font-family: "aileronlight";
}

a {
  text-decoration: none;
  color: blue;
  font-family: sans-serif;
  font-weight: bold;
}

a:hover {
  color: red;
}
